.idea/**/**
node_modules/
.DS_Store

**/integrasjonspunkt-*.jar
**/integrasjonspunkt-logs/**

move-sakarkiv-mock/.idea/**/**

# exclude everything
mocks/src/modules/DPF/uploads/*
mocks/src/modules/DPO/uploads/*
move-sakarkiv-mock/upload/*


# exception to the rule
!mocks/src/modules/DPF/uploads/.gitkeep
!mocks/src/modules/DPO/uploads/.gitkeep
!move-sakarkiv-mock/upload/.gitkeep

tests/node_modules
