.MessageForm {
  display: flex;
  flex-direction: column;
  height: 100%;
  input{
    margin-bottom: 10px;
  }



  .row.wrapper {
    height: 100%;
  }

}

.form-buttons {
  margin-top: auto;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  padding: 10px;

  .message-buttons {
    button {
      margin-right: 10px;
    }
  }

  .cancel-button {
    margin-left: auto;
  }
}